.previewdiv {
  width: 80%;
  margin: auto;
}

.post-preview > a {
  color: black;
}
.post-preview > a:hover,
.post-preview > a:focus {
  text-decoration: none;
  color: #00d5ff;
}
.post-preview > a > .post-title {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.post-preview > a > .post-subtitle {
  margin: 0;
  font-weight: 300;
  margin-bottom: 10px;
}
.post-preview > .post-meta {
  color: #808080;
  font-size: 12px;
  font-style: italic;
  margin-top: 0;
}
.post-preview > .post-meta > a {
  text-decoration: none;
  color: #404040;
}
.post-preview > .post-meta > a:hover,
.post-preview > .post-meta > a:focus {
  color: #00d5ff;
  text-decoration: underline;
}
@media only screen and (min-width: 768px) {
  .post-preview > a > .post-title {
    font-size: 25px;
  }
