* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  padding: 20px;
  width: 80%;
  font-family: sans-serif;
  @media (min-width: 992px) {
    padding: 35px 50px;
  }
}

.logo {
  width: 100px;
  border-radius: 50px;
  margin: auto;
  display: block;
}

.NavBar {
  display: table;
  margin: auto;
  padding: 15px;
}

.NavBar * {
  display: inline;
}

.NavBar li {
  margin: 40px;
}

.NavBar li a {
  color: black;
  text-decoration: none;
}

.footer {
  margin-top: 50px;
  color: #777;
  a {
    border: none;
    font-weight: bold;
  }
}
