

<!DOCTYPE HTML>
<html>
  <head>
    <title>A.I. Dan</title>
    <link rel="stylesheet" text="text/css" href="style.css">
  </head>

  <body>
    <img src="https://avatars0.githubusercontent.com/u/44011439?s=400&u=11f543c6c15c9f3d610e3d6866316a09da99382a&v=4" href="index.html" class="logo">
        <ul class="NavBar">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>


    <section>

    	{% for post in site.posts %}
    		{% unless post.next %}
    			<h3 class="code">{{ post.date | date: '%Y' }}</h3>
    		{% else %}
    			{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
    			{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
    			{% if year != nyear %}
    				<h3 class="code">{{ post.date | date: '%Y' }}</h3>
    			{% endif %}
    		{% endunless %}

    		<ul>
    			<li>
    				<div class="post-date code">
    					<span>{{ post.date | date: "%b %d" }}</span>
    				</div>
    				<div class="title">
    					<a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a>
    				</div>
    			</li>
    		</ul>

    	{% endfor %}

    </section>

  </body>


</html>
