---
layout: compress
---
<html>
  <head>
    <title>A.I. Dan</title>
    <link rel="stylesheet" text="text/css" href="css/style.css">
    <link rel="stylesheet" text="text/css" href="css/post_preview.css">
  </head>

  <body>
    <img src="https://avatars0.githubusercontent.com/u/44011439?s=400&u=11f543c6c15c9f3d610e3d6866316a09da99382a&v=4" href="index.html" class="logo">
        <ul class="NavBar">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
  <hr>
  <div class="previewdiv">
      {% for post in site.posts %}
      <div class="post-preview">
          <a href="{{ post.url | prepend: site.baseurl }}">
              <h2 class="post-title">
                  {{ post.title }}
              </h2>
              {% if post.subtitle %}
              <h3 class="post-subtitle">
                  {{ post.subtitle }}
              </h3>
              {% endif %}
          </a>
          <p class="post-meta">Posted by {{ post.author }} on {{ post.date | date: "%B %-d, %Y" }}</p>
      </div>
      <hr>
      {% endfor %}
    </div>

    {% include footer.html %}

  </body>


</html>
